[submodule "spacy-dev-resources"]
	path = spacy-dev-resources
	url = git@github.com:howl-anderson/spacy-dev-resources.git
[submodule "third-part/brown-cluster"]
	path = third-part/brown-cluster
	url = https://github.com/percyliang/brown-cluster.git
